
.center {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

/* TEXT */
.text-center {
	text-align: center;
}

/* MARGIN */
.top-margin {
	margin-top: revert;
}

.no-margin {
	margin: 0;
}


/* HERO */
.hero {
	object-fit: contain;
	width: 100%;
}